<table width="100%" border="1">
  <thead> <tr>
    <th width="50%">Name</th>
    <th width="25%">Email</th>
    <th width="12%"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>
