<% provide(:title, @user.name) %>
<h1>Profile Page</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <h4 class="text-left">Name: <span style="color: green"><%= @user.name %></span></h4>
        <h4 class="text-left">Email: <span style="color: green"><%= @user.email %></span></h4>
        <h4 class="text-left">Day created: <span style="color: green"><%= @user.created_at %></span></h4>
        <h4 class="text-left">Profile Picture: <span style="color: green"><%= gravatar_for @user %></span></h4>
      </h1>
    </section>
  </aside>
</div>
