
<% provide(:title, 'Check Out') %>
<h3 class="text-center">Summary</h3>

  <% @order_items.each do |order_item| %>
    <%= render 'checkout_row', product: order_item.product, order_item: order_item, show_total: true %>

  <% end %>
  <h4 class="text-right">Order total: <span style="color: green"> <%= number_to_currency current_order.subtotal %></span></h4>
  <p class="text-center"><%= link_to "Place the order", carts_checkout_path, class: 'btn btn-danger' %>  </p>
